.App {
  text-align: center;
}

/* NavBar CSS */
.navbar-menu {
  display: flex;
  flex-direction: row;
}

.navbar-menu-item {
  color: #f72585;
  margin-right: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar-menu-item:hover {
  color: #8900f2;
}

/* Home page CSS */

.carousel-wrapper {
  max-height: 800px; /* Adjust the height value as needed */
  overflow: hidden;
}

.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
